/*=================================================
Responsivo
=================================================*/
$md: 768px;
$xl: 1024px;

/*=================================================
Fuentes
=================================================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$roboto: 'Roboto', sans-serif;
$roboto-bold: 700;

/*=================================================
Colores
=================================================*/
$gris-principal: #333333;
$blanco: #ffffff;
$gris-secundario: #6a6d74;
$gris: #e8e8e8;
