@import 'variables.scss';
@import 'mixin.scss';

/*=================================================
Configuración principal
=================================================*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
