@import 'variables.scss';
@import 'mixin.scss';

// * ===============================================
// * CONFIGURACIÓN PRINCIPAL
// * ===============================================

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// * ===============================================
// * CONFIGURACION BODY
// * ===============================================

body {
  font-family: $roboto;
}

h1 {
  text-align: center;
}

// * ===============================================
// * MENU
// * ===============================================
.menu {
  background: $gris-principal;
  width: 100%;
  padding: 10px;
  @include desktop {
    .menu-contenedor {
      width: 1200px;
      margin: auto;
      //background: #000;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .menu-responsivo {
    //background: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-logo {
      img {
        height: 100px;
      }
    }
    .menu-icon {
      color: $blanco;
      font-size: 50px;
      cursor: pointer;
      @include desktop {
        display: none;
      }
    }
  }
  .menu-item {
    transition: 0.6s;
    height: 0;
    overflow: hidden;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: $blanco;
        display: block;
        padding: 12px 0;
        margin-top: 10px;
        border-bottom: 1px solid $blanco;
        &:hover {
          color: red;
        }
      }
    }
    @include desktop {
      overflow: visible;
      height: 100%;
      width: 80%;
      ul {
        display: flex;
        justify-content: space-between;
        li {
          a {
            font-size: 20px;
            border: none;
            width: 120px;
            text-align: center;
            font-weight: $roboto-bold;
          }
        }
      }
    }
  }
}

.menu-item.activo {
  height: 210px;
}

// * ===============================================
// * FOOTER
// * ===============================================
footer {
  background: $gris-principal;
  padding: 20px;
  .in-footer {
    @include desktop {
      width: 1000px;
      margin: auto;
    }
    .footer-top {
      a {
        display: block;
        text-align: center;
        img {
          height: 100px;
        }
      }
      .footer-redes {
        img {
          height: 50px;
          margin: 10px 0;
        }
        @include tablet {
          display: flex;
          justify-content: space-between;
          img {
            margin: 0 10px;
          }
        }
      }

      @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    .footer-sep {
      background: $blanco;
      height: 2px;
      margin: auto;
      margin-bottom: 20px;
    }
    .footer-boot {
      text-align: center;
      color: $blanco;
      a {
        text-decoration: none;
        color: $blanco;
        display: block;
        margin: 10px 0;
      }
      span {
        padding: 10px;
        display: block;
        font-weight: $roboto-bold;
      }
      p {
        margin: 10px 0;
      }
      @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
    }
  }
}

// * ===============================================
// * PRINCIPAL
// * ===============================================

//?IMAGEN INDEX
.img-index {
  width: 100%;
  height: 300px;
  background-image: url(../img/img-index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include desktop {
    height: 500px;
    background-position: center;
  }
}

//?SERVCIOS INTEGRALE
.serv-integrales {
  margin: auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 20px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 20px;
  justify-content: center;
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }

  .ser-item {
    background: $gris-principal;
    box-shadow: 4px 4px 6px $gris-principal;
    //background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: $blanco;
    border-radius: 5px;
    text-align: center;
    height: 180px;
    padding: 10px;
    @include tablet {
      width: 250px;
    }
    @include desktop {
      width: 300px;
    }

    span {
      display: block;
      font-weight: $roboto-bold;
      padding: 10px;
    }
    .serv-txt {
      margin-top: 10px;
      font-size: 14px;
    }
  }

  @include tablet {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  @include desktop {
    width: 1000px;
    grid-template-columns: repeat(3, 1fr);
  }
}

//?Sistemas
.sistemas {
  margin-top: 20px;
  background: url(../img/imgSistemas.jpg);
  background-position: center;
  color: $blanco;
  padding: 20px;
  @include desktop {
    background: #060606 url(../img/imgSistemas.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .in-sistemas {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
    justify-content: center;
    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      width: 1200px;
    }
    .item-sistema {
      border-bottom: 1px solid $blanco;
      padding-bottom: 10px;
      @include desktop {
        width: 95%;
        border-bottom: none;
      }
      span {
        display: block;
        text-align: center;
        padding: 10px;
      }
      .txt {
        text-align: justify;
        line-height: 22px;
      }
    }
  }
}
